p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-style: italic; 
}
span{
    display: block;
}
#lists{
    
    list-style-type:upper-roman;
}
.flex-container {
    display : flex;
      /* justify-content: end; */
      /* align-items: flex-end;        */
     background-color: dodgerblue;
}
.flex-container > div {
    margin: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    font-size: 30px;
 }
        