p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-style: italic; 
}
span{
    display: block;
}
#lists{
    
    list-style-type:upper-roman;
}
.flex-container {
    display : flex;
     align-items: center;
     /* align-items: stretch;
     flex-wrap: wrap; */
     /* align-items: center; */
     /* justify-content: flex-start; */
      /* justify-content: center; */
      /* justify-content: space-between; */
      /* justify-content: flex-end; */
     background-color: dodgerblue;
}
.flex-container > div {
    margin: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    font-size: 30px;
 }
 